.container{
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #FA8BFF;
  background-image: -webkit-linear-gradient(268deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  background-image: -moz-linear-gradient(268deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  background-image: -o-linear-gradient(268deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  background-image: linear-gradient(268deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  
}

.cards_container{
  display: flex;
  flex-wrap: wrap;
}

.all_cards{
  height: 16rem;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}

.each_card{
  width: 15rem;
  height: 15rem;
  text-decoration: none;
  background-color: #ffffff77;
  text-transform: capitalize;
  color: black;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 150ms ease-in-out;
  ;
}

.each_card:hover{
  transform:
    perspective(75em)
    rotateX(18deg); 
}




.all_events_grid{
  height: 19rem;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.event_name{
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.each_event{
  width: 11rem;
  height: 11rem;
  text-decoration: none;
  background-color: #ffffff77;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 150ms ease-in-out;
}

.each_event:hover{
  transform:
    perspective(75em)
    rotateX(18deg); 
}






.toggler{
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.397);
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}
.toggler:hover{
  cursor: pointer;
}

